logging:
  disable_existing_loggers: false
  formatters:
    standard:
      format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
  handlers:
    file:
      class: logging.FileHandler
      filename: hello_world.log
      formatter: standard
      level: INFO
  root:
    handlers:
    - file
    level: INFO
  version: 1
